@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProductSans";
  src: url("../Assets/Font/ProductSans/ProductSansRegular.ttf");
}

html {
  scroll-behavior: smooth;
}
